@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --border-color: #e8e8e8;
}

.navbar {
  display: flex;
  margin: 0;
  padding: 1.813rem 8%;
  font-family: 'Montserrat', Helvetica, sans-serif;
  border-bottom: 2px solid var(--border-color);
}

header h1 {
  margin: 0;
  padding: 0;
}

.header-link,
.link {
  text-decoration: none;
  color: #121212;
}

.header-link {
  font-weight: bold;
  font-size: 1.875rem;
  color: #0290ff;
}

.link {
  font-size: 0.813rem;
}

.categories {
  opacity: 0.5;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 0 0 2.938rem;
  padding: 0;
}

.nav-list li {
  margin-right: 2.938rem;
  letter-spacing: 1.9px;
}
